node_modules
.vscode
.tmp
.idea
.DS_Store
*.log
static
screenshots
.env
.env.test
.env.production
.env.development
coverage
lcov.info
tests_output
!Icon
!icon
browserstack.err
yarn.lock
*.mo
public/sitemap*.xml
public/robots.txt
logs
stats.json
